
body {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
.container {
	padding: 0px;
	box-sizing: border-box;
	-webkit-user-select: none;
	user-select: none;
}
.skin-toolbar {
	z-index: 200;
	position: fixed;
	overflow: hidden;
	white-space: nowrap;
	/* background-color: var(--vscode-tab-activeBackground);
	color: var(--vscode-tab-inactiveForeground);
	border: 1px solid var(--vscode-tab-activeBorder); */
	color: var(--vscode-panelTitle-inactiveForeground);
	background-color: var(--vscode-panel-background);
	border: none;
	border-bottom: 1px solid var(--vscode-panel-border);
    top: 0px;
    left: 0px;
    padding: 2px;
    width: 100vw;
}
.skin-toolbar>* {
	display: inline-block;
	color: #757575;
}
.skin-panel-ddl {
	width: 250px;
}
.skin-panel-ddl .panel-source0 {
    font-style: italic;
    font-weight: bold;
}
.skin-panel-ddl .panel-source2 {
	color: gray;
	font-style: italic;
}
.skin-btn {
	border: none;
	color: var(--vscode-panelTitle-inactiveForeground);
	background-color: var(--vscode-panel-background);
	border: none;
}
.skin-btn:hover {
	color: var(--vscode-panelTitle-activeForeground);
	background-color: var(--vscode-panel-background);
	border: 1px solid var(--vscode-panelTitle-panelTitle);
}
.skin-zoom-container {
	margin: 2px;
}
.skin-panel-container {
	width: 100vw;
	height: calc(100vh - 30px);
	position: relative;
	top: 30px;
	left: 0px;
	overflow: auto;
	padding: 0px;
}
.skin-panel {
	display: inline-block;
	width: auto;
	position: relative;
	transform-origin: top left;
	margin: 15px;
}
.skin-element {
	border: none;
	outline: none;
	display: block;
	position: absolute;
	padding: 0;
	margin: 0;
	background-repeat: repeat;
	background-clip: content-box;
}
.display-borders .skin-element {
	outline: 1px dotted var(--vscode-focusBorder);
}